h1 {
  color: #495057;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
  padding: 1rem;
  border-radius: 1rem;
}

.body-wrapper {
  box-sizing: border-box;
  padding: 1.15rem;
  margin-top: 5rem;
}

.card-group {
  display: flex;
}
